$white: #fff;
$black: #000;

$grey10: #121212;
$grey15: #181818;
$grey20: #282828;
$grey30: #3f3f3f;
$grey40: #575757;
$grey50: #717171;
$grey60: #8b8b8b;

$primary10: #e3e0c1;
$primary20: #e6e3c8;
$primary30: #e9e7cf;
$primary40: #ecead5;
$primary50: #f0eedc;
$primary60: #f3f1e3;
$primary70: #e1d0b3;
$primary80: #a18d6d;

$secondary50: #9bb4c0;
$secondary100: #703b3b;
// $secondary200:;
// $secondary300:;
// $secondary400:;
// $secondary500:;
// $secondary600:;
// $secondary700:;
// $secondary800:;
// $secondary900:;

$success10: #22946e;
$success20: #47d5a6;
$success30: #9ae8ce;

$warn10: #a87a2a;
$warn20: #d7ac61;
$warn30: #ecd7b2;

$danger10: #9c2121;
$danger20: #d94a4a;
$danger30: #eb9e9e;

$info10: #21498a;
$info20: #4077d1;
$info30: #92b2e5;
$info00: #e9f1fd;

$font-s: 16px;
$fontD-l: 20px;

$text-light: $info00;
$text-dark: $grey10;

$mainFont: 'FixelText', sans-serif;
$secondaryFont: 'SourceSerif4', serif;

$radius-s: 20px;
$radius-m: 40px;
$radius-l: 100px;
