:host {
  display: block;
}

.card {
  position: relative;
  background: rgba($grey20, 0.4);
  backdrop-filter: blur(1px);
  border: 1px solid rgba($white, 0.08);
  border-radius: 18px;
  overflow: visible;
}

.card--sm {
  padding: 12px;
}

.card--md {
  padding: 18px;
}

.card--lg {
  padding: 24px;
}
